<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <p>
    Hi <%=@user.name%>, <br>
  </p>
  <p>
  You are receiving this email because you have requested a password reset for your Mailit account. <br></p>
  
  <p>To reset your password please enter your new password in the form here: http://localhost:8080/password-reset/<%=@user.reset_password_token%><br></p>

  <p>If you did not request your password to be reset please ignore this email and your password will stay as it is. <br></p>
  </body>
</html>
